
.container {
	
	margin: 50px auto;
	padding: 20px;
    box-sizing: border-box;
    box-shadow: #de2b2b;
}

.header{
    height: 60px;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #200c8f;
    padding-bottom: 20px;
     margin-bottom: 100px ;
    margin-top: -10px;
     border-radius: 20px;
    color: rgb(3, 3, 3);


}
.USER{
    margin-bottom: 250px;
    margin-top: 200px;

}
.containt{
    border: 2px solid #200c8f;
    height: 800px;
    margin-bottom: 80px;

    border-radius: 30px;
    background-image: url(1.jpg);
}

.tp1 {
   margin: 20px 150px;
    border: 2px solid #200c8f;
   padding: 60px ;
   background-color:#ffffff;
   border-radius: 30px;
}
a:hover{
    color: rgb(9, 255, 9);
}

.tp2 {
    margin: 20px 150px;   
    border: 2px solid #200c8f;
    padding: 60px ;
    background-color: #f5f5f5;
    border-radius: 30px;
 }
 .tp{
    border: 2px solid #200c8f;
   padding: 60px ;
   background-color: #f5f5f5;
   border-radius: 30px;
   margin: 450px;
   color: #8f0c0c;
 }
 .tp1:hover {
    background-color: #9727bc;
 }
 .tp2:hover {
    background-color: #9727bc;
 }
 .tp:hover {
    background-color: #9727bc;
 }
