*{margin: 0; padding: 0; box-sizing: border-box;}

a{text-decoration: none;}
.container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(#6456566d, rgba(133, 104, 104, 0.5)), url(IMG3.jpeg);
    background-size: cover;
    background-position: center;
   
}
.top{
    width: 100%;
    height: 80px;
    background: rgba(45, 50, 50, 0.8);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 150px;
}
.logo_area{
    width: 50%;
}
.logo_area a{
    margin-left: -100px;
    padding-left: -30px;
    padding-right: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo_area a img{
    padding-left: -30px;
    padding-right: 0%;
    width: 100%;
    height: 80px;
}
.logo_area a h1{
    color: #fff;
    text-transform: uppercase;
    font-family: cursive;
    margin-left: 15px;
}
.menu_area{
    width: 40%;
    margin-right: 100px;

}
.menu_area ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu_area ul li{
    margin-left: 20px;
}

.menu_area ul li::after{
    content: '';
    position: absolute;
    width: 0%;
    height: 3px;
    background: #021b1b;
    bottom: -10px;
    left: 0;
    transition: .5s all ease-in-out;
}
.menu_area ul li:hover::after{
    width: 100%;
}
.menu_area ul li a{
    color: #534a4a;
    font-family: lato;
    font-size: 16px;
    transition: 0.3s all ease-in-out;
}
.menu_area ul li a:hover{
    color: #00ffff;
}
.info{
    text-align: center;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.info h1{
    color: #c81a1a;
    font-family: lato;
    font-size: 60px;
}
.info p{
    color: #d2cbcb;
    font-size: 20px;
    font-family: arial;
    margin: 30px 0px;
}
.btn button{
    padding: 15px 45px;
    background: transparent;
    border: 2px solid aqua;
    color: #fff;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.btn button::after{
    content: '';
    position: absolute;
    width: 0%;
    height: 100%;
    background: rgb(4, 121, 0);
    left: 0;
    top: 0;
    z-index: -1;
    transition: .5s all ease-in-out;
}
.btn button:hover::after{
    width: 100%;
}