
.container {
	
	margin: 50px auto;
	padding: 20px;
	border: 4px solid #971f1f;
	border-radius: 10px;
	
    box-sizing: border-box;
    box-shadow: #de2b2b;
}

.header{
    height: 60px;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #200c8f;
    padding-bottom: 20px;
     margin-bottom: 100px ;
     border-radius: 20px;
    color: rgb(3, 3, 3);


}
.USER{
    margin-bottom: 250px;
    margin-top: 200px;

}
.containt{
    border: 1px solid #200c8f;
    height: 1000px;
    margin-bottom: 50px;
    border-radius: 30px;
}

.tp1 {
   margin: 20px 150px;

   border: 2px solid #1c0d89;
   padding: 60px ;
   background-color: #8e1616;
   border-radius: 30px;
}
a:hover{
    color: aqua;
}

.tp2 {
    margin: 20px 150px;
    
    border: 2px solid #200c8f;
    padding: 60px ;
    background-color: #f5f5f5;
    border-radius: 30px;
 }
 .tp{
    border: 2px solid #200c8f;
   padding: 60px ;
   background-color: #f5f5f5;
   border-radius: 30px;
   margin: 450px;
   color: #8f0c0c;
 }
 